# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/images/abc-news-au.png
src/assets/images/abc-news.png
src/assets/images/aftenposten.png
src/assets/images/al-jazeera-english.png
src/assets/images/ansa.png
src/assets/images/argaam.png
src/assets/images/ars-technica.png
src/assets/images/ary-news.png
src/assets/images/associated-press.png
src/assets/images/australian-financial-review.png
src/assets/images/axios.png
src/assets/images/bbc-news.png
src/assets/images/bbc-sport.png
src/assets/images/bild.png
src/assets/images/blasting-news-br.png
src/assets/images/bleacher-report.png
src/assets/images/bloomberg.png
src/assets/images/breitbart-news.png
src/assets/images/business-insider-uk.png
src/assets/images/business-insider.png
src/assets/images/buzzfeed.png
src/assets/images/cbc-news.png
src/assets/images/cbs-news.png
src/assets/images/cnbc.png
src/assets/images/cnn-es.png
src/assets/images/cnn.png
src/assets/images/crypto-coins-news.png
src/assets/images/daily-mail.png
src/assets/images/der-tagesspiegel.png
src/assets/images/die-zeit.png
src/assets/images/el-mundo.png
src/assets/images/engadget.png
src/assets/images/entertainment-weekly.png
src/assets/images/espn-cric-info.png
src/assets/images/espn.png
src/assets/images/financial-post.png
src/assets/images/financial-times.png
src/assets/images/focus.png
src/assets/images/football-italia.png
src/assets/images/fortune.png
src/assets/images/four-four-two.png
src/assets/images/fox-news.png
src/assets/images/fox-sports.png
src/assets/images/globo.png
src/assets/images/google-news-ar.png
src/assets/images/google-news-au.png
src/assets/images/google-news-br.png
src/assets/images/google-news-ca.png
src/assets/images/google-news-fr.png
src/assets/images/google-news-in.png
src/assets/images/google-news-it.png
src/assets/images/google-news-ru.png
src/assets/images/google-news-sa.png
src/assets/images/google-news-uk.png
src/assets/images/google-news.png
src/assets/images/goteborgs-posten.png
src/assets/images/gruenderszene.png
src/assets/images/hacker-news.png
src/assets/images/handelsblatt.png
src/assets/images/ign.png
src/assets/images/il-sole-24-ore.png
src/assets/images/independent.png
src/assets/images/info-money.png
src/assets/images/infobae.png
src/assets/images/la-gaceta.png
src/assets/images/la-nacion.png
src/assets/images/la-repubblica.png
src/assets/images/le-monde.png
src/assets/images/lenta.png
src/assets/images/lequipe.png
src/assets/images/les-echos.png
src/assets/images/liberation.png
src/assets/images/marca.png
src/assets/images/mashable.png
src/assets/images/medical-news-today.png
src/assets/images/metro.png
src/assets/images/mirror.png
src/assets/images/msnbc.png
src/assets/images/mtv-news-uk.png
src/assets/images/mtv-news.png
src/assets/images/national-geographic.png
src/assets/images/national-review.png
src/assets/images/nbc-news.png
src/assets/images/new-scientist.png
src/assets/images/new-york-magazine.png
src/assets/images/news-com-au.png
src/assets/images/news24.png
src/assets/images/newsweek.png
src/assets/images/next-big-future.png
src/assets/images/nfl-news.png
src/assets/images/nhl-news.png
src/assets/images/nrk.png
src/assets/images/politico.png
src/assets/images/polygon.png
src/assets/images/rbc.png
src/assets/images/recode.png
src/assets/images/reddit-r-all.png
src/assets/images/reuters.png
src/assets/images/rt.png
src/assets/images/rte.png
src/assets/images/rtl-nieuws.png
src/assets/images/sabq.png
src/assets/images/sevenska-dagbladet.png
src/assets/images/spiegel-online.png
src/assets/images/t3n.png
src/assets/images/talksport.png
src/assets/images/techcrunch-cn.png
src/assets/images/techcrunch.png
src/assets/images/techradar.png
src/assets/images/the-american-conservative.png
src/assets/images/the-economist.png
src/assets/images/the-globe-and-mail.png
src/assets/images/the-guardian-au.png
src/assets/images/the-guardian-uk.png
src/assets/images/the-hill.png
src/assets/images/the-hindu.png
src/assets/images/the-huffington-post.png
src/assets/images/the-irish-times.png
src/assets/images/the-jerusalem-post.png
src/assets/images/the-lad-bible.png
src/assets/images/the-new-york-times.png
src/assets/images/the-next-web.png
src/assets/images/the-sport-bible.png
src/assets/images/the-telegraph.png
src/assets/images/the-times-of-india.png
src/assets/images/the-verge.png
src/assets/images/the-wall-street-journal.png
src/assets/images/the-washington-post.png
src/assets/images/the-washington-times.png
src/assets/images/time.png
src/assets/images/usa-today.png
src/assets/images/vice-news.png
src/assets/images/wired-de.png
src/assets/images/wired.png
src/assets/images/wirtschafts-woche.png
src/assets/images/xinhua-net.png
src/assets/images/ynet.png
